# MongoDB
/data/db

# NestJS
/dist
/.nestjs_repl_history

# IDE and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Testing
/coverage
/.nyc_output

# Env files
*.env
.env.*
!.env.example

# Temp files
.temp/
.tmp/

# OS specific
.DS_Store
Thumbs.db

# Build files
/build
/release

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local files
*.local
node_modules
